Checks: >
  -*,
  clang-analyzer-*,
  bugprone-dangling-handle,
  bugprone-exception-escape,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-misplaced-widening-cast,
  bugprone-narrowing-conversions,
  bugprone-signed-char-misuse,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage,
  bugprone-use-after-move,
  modernize-make-unique,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  portability-simd-intrinsics,
  readability-container-size-empty,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*[/\\]extern[/\\]).*'
